*.pyc
*~
*.des.cfr
*.pyo
*.py.class
.project
.pydevproject
*.egg
*.exe
*.dll
src/test/
src/z3*.*
src/libz3*.*
src/example.py
src/com.microsoft.z3.jar
\#*
experiment/runs/
giaoutput
src/giaoutput
*.csv
